<!doctype html>

<html lang="en" style="width: 100%; display: flex;">

    <head>
        <meta charset="utf-8">
        <title>Athena's Site</title>
        <meta name="description" content="Athena's personal site.">
        <meta name="ganyuun" content="ganyuun">
        <meta name="viewport" content="width=device-width">
    </head>

    <!-- css import --> 
    <style>
        @import '../../styles/articles.css';
    </style>

    <header class="text-center navbar">
        <div>
            <nav>
                <a href="../" rel="noopener noreferrer" class="nav-links">Home</a>
                <a href="../backstory/" rel="noopener noreferrer" class="nav-links">Backstory</a>
                <a href="../" rel="noopener noreferrer" class="nav-links">Whispers of the Wind</a>
                <a href="https://leagueoflegends.fandom.com/wiki/Vastaya" target="_blank" rel="noopener noreferrer" class="nav-links">Vastaya Info</a>
            </nav>
        </div>    
    </header>

    <body>

        <br>
        <a href="https://leagueoflegends.fandom.com/wiki/Ionia" target="_blank" rel="noopener noreferrer">
            <img src="/images/Ionia_Crest.png" alt="Ionia Crest" class="center crest">
        </a>

        <center>
            <div class="container">
                <section>

                    <br>
                    <h1>For Non-kin Friends, Please Read This First</h1>
                    <p><em>Published 09/08/2022</em></p>
                    <br>

                    <p style="text-align: left;">
                        
                        Hellooo, so basically, I made this site to serve as my kin site. To make this short,
                        I'm otherkin, or fictionkin for more specificity. You probably remember that meme of the
                        girl who identifies as a wolf on "all levels except physical". Or more recently, you might
                        have seen people on TikTok doing quadrobics and acting like an animal. But whatever idea you have
                        of otherkin, set it aside for a second, just for me.

                        <br><br>

                        Yes, I'm aware it's really cringey from an outside perspective. I know it's not normal. But,
                        being fictionkin doesn't really hurt or affect others. (Though I guess someone could make the
                        argument that it hurts their eyes?? lol) I am still the same person you know, it's just that
                        you've learned something new about me. I won't ask anything more of you than respect, or
                        at the very least, tolerance. I appreciate you and would love to keep the friends that I love
                        dearly.

                        <br><br>
                    </p>

                    <h3>Terminology Explanations</h3>

                    <p style='text-align: left;'>
                        In the other <em>sadly short</em> articles I've posted on this site, you'll see the word "shift"
                        or "phantom shift" very often. Think of phantom shifts like phantom limb. It's a limb (or thing?) that you feel, but
                        it's not really there, and it's not a voluntary experience, at least for me. As an example, my most common phantom shifts
                        are ears and tail, or for a more uncommon one, claws. Most often, claws feel uncomfortable! But I know
                        that they're not really there, it just feels like it. I've had this phantom limb experience for as long
                        as I can remember, and they have mainly stayed the same.

                        <br><br>

                        Another term I use is kintype, theriotype or fictotype. A kintype is what creature the person identifies as.
                        It usually means fantasy creatures like... dragons, unicorns, but it's also used for earthly animals. A theriotype
                        is a more specific term, it refers to the specific animal a therian (the person) identifies as. A fictotype is a fictional
                        character or species that a person identifies as. I fall under the latter, because my fictotype is of a fictional species.

                        Last one that I use a lot is "confirming" or "deconfirming". It's a little self explanatory but to be clear, it means
                        you're confirming that you are that kintype. Deconfirming is doing the opposite. I'll explain in the next section.
                    </p>

                    <h3>Why?</h3>

                    <p style='text-align: left;'>
                        I don't really have a theory for why I'm fictionkin. A lot of fictionkin subscribe to the multiverse theory, or for otherkin
                        and therians, the past-life or other theories. I used to believe in past-lives, but not anymore. I don't think that
                        applies to me. There's also psychological theories like imprinting, but I don't believe in that either. It just doesn't work.

                        <br><br>

                        To explain deconfirming, in my case, I first found myself a part of the community when I was younger. I related with the
                        phantom limb experience, and wanted to figure out more about it. But because I was younger, I kind of hopped on any animal
                        that I thought was "me". This feeling would persist for some time, but then there was a sort of "this isn't me" feeling before
                        I deconfirmed those kintypes. I listed a good chunk of what I identified as before vastaya in <a href="./who-am-i" target="_blank" rel="noopener noreferrer">this article</a>.
                        As I said before, I think a good reason for this was immaturity and impatience. To be frank, it took me three years to get to this
                        point. I know that I am vastaya, and I can't separate it from who I am. This isn't like any other kintype I've confirmed, ever.

                        <br><br>

                        If you're still reading, you might think I'm absolutely insane. Thanks for reading though lol, message me on Discord if you have any questions.

                    </p>

                </section>
            </div>
        </center>
    </body>
</html>