<!doctype html>

<html lang="en" style="width: 100%; display: flex;">

    <head>
        <meta charset="utf-8">
        <title>Athena's Site</title>
        <meta name="description" content="Athena's personal site.">
        <meta name="ganyuun" content="ganyuun">
        <meta name="viewport" content="width=device-width">
    </head>

    <!-- css import --> 
    <style>
        @import '../../styles/articles.css';
    </style>

    <header class="text-center navbar">
        <div>
            <nav>
                <a href="../" rel="noopener noreferrer" class="nav-links">Home</a>
                <a href="../backstory/" rel="noopener noreferrer" class="nav-links">Backstory</a>
                <a href="../articles/" rel="noopener noreferrer" class="nav-links">Whispers of the Wind</a>
                <a href="https://leagueoflegends.fandom.com/wiki/Vastaya" target="_blank" rel="noopener noreferrer" class="nav-links">Vastaya Info</a>
            </nav>
        </div>    
    </header>

    <body>

        <br>
        <a href="https://leagueoflegends.fandom.com/wiki/Ionia" target="_blank" rel="noopener noreferrer">
            <img src="/images/Ionia_Crest.png" alt="Ionia Crest" class="center crest">
        </a>

        <center>
            <div class="container">
                <section>

                    <br>
                    <h1>Webdev and Other Unrelated Things</h1>
                    <p><em>Published 09/05/2022</em></p>
                    <br>

                    <p style="text-align: left;">Hello, my name's Athena. I designed this site, and did a lot of the coding for it (but my friends also helped a lot). This isn't my
                        first website, but it is the first website that I've coded without Bootstrap. <a href="https://ganyuun.com" target="_blank" rel="noopener noreferrer">Here it is</a>,
                        for reference. To be fair, the Bootstrap one does look more modern than this site, but I still like how personal this one is. I can express what I like throughout the
                        entire site, with the background, font, everything.
                        
                        <br><br>

                        But as a downside, the Bootstrap site was easier to edit than this one. For my portfolio site, I mainly put together
                        <a href="https://getbootstrap.com/docs/5.2/examples/" target="_blank" rel="noopener noreferrer">Bootstrap examples</a> and then changed them to have my pictures
                        and information. It could've been even easier if I actually knew HTML and CSS when I started. I only started learning after the site was mostly finished. This site
                        is basically me putting together all I've learned, and using that new knowledge to make something I like. And honestly, it worked! I also learned a lot from making 
                        this site, like incorporating dark mode (unfortunately there's no toggle, it's automatic based on system/browser settings), and even
                        <a href="https://astro.build" target="_blank" rel="noopener noreferrer">a new framework</a>, which I'm using now! It's very different from the standard HTML that I
                        know, but I'm still learning new things and I'm excited to test them out on this site! Astro also opens up opportunities to learn other frameworks in the future,
                        so I'm excited for that as well!

                        <br><br>

                        The main purpose of this articles section is for me to write down 'kin experiences and related stuff here, but I also want to continue making articles about
                        developing this site and adding new features. The home page sorta makes my fictotype look like an OC, but to be honest, it was originally my fursona, then I made it
                        resemble my fictotype as I was finding out more about it. The reason why I left it unnamed is because I still haven't figured out a fitting name for my fictotype yet,
                        and my fursona's name doesn't seem right at the moment. I think it'd be nice to name it Sai'nen, but I'm sort of reluctant to do that, as I'm
                        <a href="https://leagueoflegends.fandom.com/wiki/Sai%27nen_Thousand-Tailed_(Legends_of_Runeterra)" target="_blank" rel="noopener noreferrer">not that character</a>.
                        For that reason, I've been combining different sounds with the prefix Sai to see if it fits, but I haven't had much luck yet.

                        <br><br>

                        The dragon and tiger para/subtypes also relatively new developments. I call them subtypes of my Vastaya fictotype, because they're both important to me,
                        but only in the context of my Vastaya fictotype. At the moment, I haven't added a drawing of the tiger <em>because I'm lazy.</em> It'd feel
                        out of place to use a real picture on the home page, so I want to draw it myself, but I also want to get it just right.
                        Both golden tigers and Amur tigers seem to be appearance that's <em>just right</em> for that subtype, but I can't really choose between the both of them.
                        For reference, here's an image:

                        <br><br>

                    </p>

                    <img src="https://upload.wikimedia.org/wikipedia/commons/8/89/Golden_Tabby_weibchen_Cheryl.jpg">

                    <p><em>By Erlebnis- &amp; Tigerpark Dassow - Erlebnis- &amp; Tigerpark Dassow, <a href="https://creativecommons.org/licenses/by-sa/3.0/de/deed.en" title="Creative Commons Attribution-Share Alike 3.0 de">CC BY-SA 3.0 de</a>, <a href="https://commons.wikimedia.org/w/index.php?curid=31081262">Link</a></em></p>
                    <br>

                    <p style="text-align: left;">Anyway, it's sort of abrupt, but I'll just stop the article here and return with another one later. Thanks for reading! I hope you have a positive
                        experience using this site :)
                    </p>

                </section>
            </div>
        </center>
    </body>
</html>