<!doctype html>

<html lang="en" style="width: 100%; display: flex;">

    <head>
        <meta charset="utf-8">
        <title>Athena's Site</title>
        <meta name="description" content="Athena's personal site.">
        <meta name="ganyuun" content="ganyuun">
        <meta name="viewport" content="width=device-width">
    </head>

    <!-- css import --> 
    <style>
        @import '../styles/articles.css';
    </style>

    <header class="text-center navbar">
        <div>
            <nav>
                <a href="../" rel="noopener noreferrer" class="nav-links">Home</a>
                <a href="../backstory/" rel="noopener noreferrer" class="nav-links">Backstory</a>
                <a href="#" rel="noopener noreferrer" class="nav-links">Whispers of the Wind</a>
                <a href="https://leagueoflegends.fandom.com/wiki/Vastaya" target="_blank" rel="noopener noreferrer" class="nav-links">Vastaya Info</a>
            </nav>
        </div>    
    </header>

    <body>
        <center>

            <br>
            <a href="https://leagueoflegends.fandom.com/wiki/Ionia" target="_blank" rel="noopener noreferrer">
                <img src="/images/Ionia_Crest.png" alt="Ionia Crest" class="center crest">
            </a>
            <br><br>

            <div class="container">
                <section>


                    <br>
                    <h1>Whispers of the Wind</h1>
                    <br>

                    <div style="text-align: left;">
                        <a href="/articles/explanation">
                            <h2 style="display: inline-block">For Non-kin Friends, Please Read This First &nbsp;</h2>
                            <img src="/images/pin-angle-fill.svg" width="25px" height="25px" class="pin">
                        </a>
                    </div>
                    
                    <p style = 'text-align: left;'>An explanation of what I'm writing on here.</p>

                    <br><br>
                    <hr>
                    <br><br>

                    <a href="/articles/who-am-i">
                        <h2 style="text-align: left;">Who Am I?</h2>
                    </a>
                    
                    <p style="text-align: left;"><em>Published 09/08/2022</em></p>
                    <p style="text-align: left;">More kin stuff.</p>

                    <br><br>
                    <hr>
                    <br><br>

                    <a href="/articles/webdev-and-other-unrelated-things">
                        <h2 style="text-align: left;">Webdev and Other Unrelated Things</h2>
                    </a>

                    <p style="text-align: left;"><em>Published 09/05/2022</em></p>
                    <p style="text-align: left;">Just wanted to write a little about how I made this site and the process, along with some kin stuff.</p>
                    <br><br>

                </section>
            </div>
        </center>
        <br><br>
    </body>
</html>