<!doctype html>

<html lang="en" style="width: 100%; display: flex;">

    <head>
        <meta charset="utf-8">
        <title>Athena's Site</title>
        <meta name="description" content="Athena's personal site.">
        <meta name="ganyuun" content="ganyuun">
        <meta name="viewport" content="width=device-width">
    </head>

    <!-- css import --> 
    <style>
        @import '../styles/index.css';
    </style>

    <header class="nav-links text-center navbar">
        <div>
            <nav>
                <a href="#" rel="noopener noreferrer">Home</a>
                <a href="../backstory/" rel="noopener noreferrer">Backstory</a>
                <a href="../articles/" rel="noopener noreferrer">Whispers of the Wind</a>
                <a href="https://leagueoflegends.fandom.com/wiki/Vastaya" target="_blank" rel="noopener noreferrer">Vastaya Info</a>
            </nav>
        </div>    
    </header>

    <body>
        <center>

            <br>
            <a href="https://leagueoflegends.fandom.com/wiki/Ionia" target="_blank" rel="noopener noreferrer">
                <img src="/images/Ionia_Crest.png" alt="Ionia Crest" class="center crest">
            </a>
            <br><br>

            <div class="container">
            
                <br><br>
                <h1 class="text-center header">Welcome to my personal website!</h1>
                <br>
                <h2 class="text-center header">Introductions</h2>
                <br><br>

                <section>
                    <div>
                        <div class="intro-image">
                            <img src="/images/vastaya.png" alt="A fox Vastayan in her anthro form." class="feature">
                        </div>

                        <div class="intro">
                            <p>
                                A Vastayan known by no name <em>(so far!)</em>. She can appear more humanoid or more animalistic,
                                but she feels at home being right in the middle most of the time. No matter what form she takes,
                                she is always recognizable by the red markings under her eyes and on the sides of her face. Her
                                powers mainly come from the blessings of two Vastayashai'rei, a Dragon, and a Tiger. They each
                                gave her powers that represent them, eg. summoning and manipulating fire, and shapeshifting.
                                While this Vastayan can shapeshift already (with limits, like being unable to change her physical
                                form drastically), the Dragon's blessing expanded her shapeshifting ability. She can shapeshift into
                                different species or even specific people, but only for a limited time (approximately a few days).
                                Doing this drains her magic supply, and she'll need to rest for a while to replenish it. For this
                                reason, she had no interest in using this ability often. Though, after Noxus's invasion of Ionia,
                                she realized how useful this ability can be...
                                <br><br>
                                <em>"It's always the blade you don't see coming."</em>
                                <br><br>
                            </p>

                            <ul class="intro">
                                <li><strong>Species:</strong> Fox Vastaya</li>
                                <li><strong>Region:</strong> Ionia</li>
                                <li><strong>Gender:</strong> F</li>
                                <li><strong>Affiliation:</strong> Kinkou Order</li>
                                <br>
                            </ul>
                        </div>
                    </div>
                        
                    <hr>
                    
                    <br>
                    <div class="intro-image">
                        <img src="https://f2.toyhou.se/file/f2-toyhou-se/images/45626542_QEikGI8hlKcWVyI.jpg" alt="An Eastern Dragon, soaring through the air whilst looking at the viewer." class="feature">
                    </div>

                    <div class="text-center">
                        <p>
                            The Vastayashai'rei who gave the Vastayan their blessing.
                            <br><br>
                        </p>
                
                        <ul class="text-center">
                            <li><strong>Species:</strong> Vastayashai'rei (Spirit)</li>
                            <li><strong>Region:</strong> Ionia</li>
                            <li><strong>Gender:</strong> ?</li>
                            <li><strong>Affiliation:</strong> ?</li>
                            <br>
                        </ul>
                    </div>   
                </section>   
            </div>
            <br><br><br><br>
        </center>

    </body>

</html>